# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/rentalpay_db?schema=public"

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID="your-firebase-project-id"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"

# Application Settings
PORT=4000
NODE_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:4000"
